extends ../layouts/default
block variables
    - const title = 'About'
block content
    div.text-center
        h1.mb-5(style="font-size: 50px") ABOUT
        h3.mb-3 Make multipage HTML development suck less with webpack and Pug.
        p.text-left Feature List
        ul.text-left
            li Bundle all your assets with webpack
            li Use pug as template engine
            li live-reload
            li Code splitting
            li Multiple pages website
            li Preprocess css with stylus
            li User bootstrap & JQuery
            li Use font-awesome
