extends ../layouts/default
block variables
    - const title = 'Contact'
block content
    div.text-center
        h1.mb-5(style="font-size: 50px") CONTACT
        h3.mb-3 pug-static-pages-starter
        p(style="font-size: 20px") Build your static website with webpack and pug.
