extends ../layouts/default
block variables
    - const title = 'Home'
block content
    div.text-center
        img(src="../assets/images/32896703.jpg")
        h1.mb-5(style="font-size: 50px") HOME
        h3.mb-3 pug-static-pages-starter
        p(style="font-size: 20px") Build your static multiple pages website with webpack and pug.
