block variables
doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title #{title}
    body(class="d-flex align-items-center flex-column justify-content-between")
        block header
            include ../components/header
        main.flex-grow-1.d-flex.align-items-center.justify-content-center
            block content
        block footer
            include ../components/footer
