doctype html
html
    head
        title I'm a title
    body
        block header
            - const string2 = '杨超越'
            include ../components/header
        block content
        block footer
            include ../components/footer
